@model MVCAssignment1.Models.UserDetail

<div>
    <p><strong>User ID:</strong> @Model.UserID</p>
    <p><strong>First Name:</strong> @Model.FirstName</p>
    <p><strong>Last Name:</strong> @Model.LastName</p>
    <p><strong>Date of Birth:</strong> @Model.DOB.ToShortDateString()</p>
    <p><strong>Gender:</strong> @Model.Gender</p>
    <p><strong>Email:</strong> @Model.EmailAddress</p>
</div>
