@model MVCAssignment1.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot Password";
}

<h2>Forgot Password</h2>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-success">
        @ViewBag.Message
    </div>
}

@using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.EmailAddress)
        @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.EmailAddress, "", new { @class = "text-danger" })
    </div>
    <br /><br />
    <button type="submit" class="btn btn-primary">Send Reset Link</button>
}
